header {
  background-color: #f4dcd2;
}
nav {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.header_right {
  display: flex;
  gap: 30px;
}
